.form #autocomplete {
  border: none;
  width: 100% !important;
}

#autocomplete .menu {
  width: 100%;
}

#autocomplete .menu .item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
