.ui.modal .ui.form {
  line-height: 1.4285em;
}

.form-type-textfield,
.form-type-password,
.form-type-textarea,
.field-type-datetime .field,
.webform-component-textfield,
.webform-component-email,
.webform-component-number,
.webform-component-textarea {
  position: relative;
}

.form-type-textfield.form-item.field label,
.form-type-password.form-item.field label,
.form-type-textarea.form-item.field label,
.ui.form .field-type-datetime .field > label,
.ui.form .webform-component-textfield.form-item label,
.ui.form .webform-component-email.form-item label,
.ui.form .webform-component-number.form-item label,
.ui.form .webform-component-textarea.form-item label {
  background: transparent;
  color: rgba(191, 191, 191, .87);
  left: 1.1em;
  pointer-events: none;
  position: absolute;
  top: 10px;
  z-index: 5;
}

label.floating-label ~ .ui.selection.dropdown.active,
label.floating-label ~ .ui.selection.dropdown.visible {
  z-index: 4;
}

.form-type-textarea.form-item.field label,
.ui.form .webform-component-textarea.form-item label {
  top: 12px;
}

.form-type-textfield.form-item.field label.floating-label,
.form-type-password.form-item.field label.floating-label,
.form-type-textarea.form-item.field label.floating-label,
.ui.form .field-type-datetime .field > label.floating-label,
.ui.form .webform-component-textfield.form-item label.floating-label,
.ui.form .webform-component-email.form-item label.floating-label,
.ui.form .webform-component-number.form-item label.floating-label,
.ui.form .webform-component-textarea.form-item label.floating-label {
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: rgba(0, 0, 0, .8);
  font-size: .71428571rem;
  line-height: 1em;
  opacity: 1;
  padding: 2px;
  top: -0.7em;
}
