/* Body
---------------------------------------------------------------------- */
body, html {
  background-color: #f6f6f6;
}

body {
  /* Fix jumping scrollbar. */
  margin-left: calc(100vw - 100%);
}

p:last-child {
  margin: 0 0 1em;
}

fieldset {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

fieldset legend {
  position: relative;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  background-color: #fff;
  padding: 0.2em 1em 0.3em 0.5em;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

/* Header
---------------------------------------------------------------------- */

/* Navigation
---------------------------------------------------------------------- */

/* Update navigation menu to take full width (regarding fix for jumping
 scrollbar). */
.ui.menu.navigation:not(.fixed) {
  margin-left: calc((100% - 100vw) / 2);
  max-width: calc(100% + calc((100vw - 100%) / 2));
  width: calc(100% + calc((100vw - 100%) / 2));
}

.ui.navigation.admin-menu {
  margin-top: 21px;
}

/* Content
---------------------------------------------------------------------- */
select.ui.dropdown {
  display: none !important;
}

/* Sidebar
---------------------------------------------------------------------- */

/* Footer
---------------------------------------------------------------------- */
