{#
/**
* @file
* Theme override to display a single page.
*
* The doctype, html, head and body tags are not in this template. Instead they
* can be found in the html.html.twig template in this directory.
*
* Available variables:
*
* General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be
*   "/" unless you have installed Drupal in a sub-directory.
* - is_front: A flag indicating if the current page is the front page.
* - logged_in: A flag indicating if the user is registered and signed in.
* - is_admin: A flag indicating if the user has permission to access
*   administration pages.
*
* Site identity:
* - front_page: The URL of the front page. Use this instead of base_path when
*   linking to the front page. This includes the language domain or prefix.
*
* Page content (in order of occurrence in the default page.html.twig):
* - messages: Status and error messages. Should be displayed prominently.
* - node: Fully loaded node, if there is an automatically-loaded node
*   associated with the page and the node ID is the second argument in the
*   page's path (e.g. node/12345 and node/12345/revisions, but not
*   comment/reply/12345).
*
* Regions:
* - page.header: Items for the header region.
* - page.primary_menu: Items for the primary menu region.
* - page.secondary_menu: Items for the secondary menu region.
* - page.highlighted: Items for the highlighted content region.
* - page.help: Dynamic help text, mostly for admin pages.
* - page.content: The main content of the current page.
* - page.sidebar_first: Items for the first sidebar.
* - page.sidebar_second: Items for the second sidebar.
* - page.footer: Items for the footer region.
* - page.breadcrumb: Items for the breadcrumb region.
*
* @see template_preprocess_page()
* @see html.html.twig
*/
#}

<div class="ui inverted navigation menu {{ fixed_navbar }}">
  {% if logo %}
    <a class="item logo" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <img src="{{ logo }}" alt="{{ 'Home'|t }}" />
    </a>
    {% else %}
      <a class="item" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}

  <div class="right menu">
    {{ page.primary_menu }}
  </div>

</div>


{% if  page.header %}
<div class="top">
  {{ page.header }}
</div>
{% endif %}<!-- /.header  -->

<div class="ui container">
  <div class="ui stackable grid">

    <aside class="{{ sidebar_left }}sidebars sidebar-first" role="complementary">
      {{ page.sidebar_first }}
    </aside>  <!-- /#sidebar-first -->

    <section class="{{ main_grid }}  main" role="main">

      {% if  page.highlighted %}
      <div class="highlighted ui massive message">
        {{ page.highlighted }}
      </div>
      {% endif %}

      {{ page.secondary_menu }}

      {{ page.breadcrumb }}
      <a id="main-content"></a>
      {{ title_prefix }}
      {{ title_suffix }}
      {{ messages }}
      {{ tabs_primary }}
      {{ page.help }}
      {{ action_links }}
      <div class="ui hidden divider"></div>
      {{ tabs_secondary }}
      {{ page.content }}
    </section>

    {% if page.sidebar_second %}
      <aside class="{{ sidebar_right }} sidebars sidebar-last" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </div>
</div> <!-- /main  -->

{% if page.footer %}
  <div class="ui divider"></div>
  <div class="ui grid container">
    <div class="column">
      {{ page.footer }}
    </div>
  </div>
{% endif %}


